@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width:100%;
    background-color: black;
}

.hamburger-bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
  }

  .darkened-bg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the alpha (last value) to control darkness */
  }

  .dropdown-enter {
    opacity: 0;
    max-height: 0;
  }
  
  .dropdown-enter-active {
    opacity: 1;
    max-height: 20rem; /* Set the desired max height of the dropdown when it's open */
    transition: opacity 300ms, max-height 300ms ease-out;
  }
  
  .dropdown-exit {
    opacity: 1;
    max-height: 20rem; /* Set the same max height as dropdown-enter-active to avoid flickering */
  }
  
  .dropdown-exit-active {
    opacity: 0;
    max-height: 0;
    transition: opacity 300ms, max-height 300ms ease-in;
  }

  .modal-content {
    margin: 5% auto;
    width: 80%;
    text-align: left; /* Align text to the left */
  }